.container {
  padding: 20px;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.categoryCard {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.categoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.detailsButton {
  margin-top: 20px;
}

.mealsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mealCard {
  width: 150px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.mealCard:hover {
  transform: scale(1.05); /* zoom effect on meal card */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
}

.mealImage {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.mealTitle {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
}

.detailsContainer {
  padding: 20px;
}

.detailsImage {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.ingredientTitle{
  color: #e55a00;
  text-align: center;
}

.ingredientsList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.ingredientsList li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
}

.ingredientsList li::before {
  content: "• ";
  color: #ff6a00;
  font-size: 18px;
}

.instructionsRec {
  color: #e55a00;
  padding-top: 10px;
}
